body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #A08282;
}

.container.main {
width: 400px;
background: rgb(50,52,57);
color: #fff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid rgb(50,52,57);
border-bottom-color: rgb(50,52,57);
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 10px;
font-weight: 400;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
h5.text-center.today {
background-color: rgb(40,42,45);
width: 200px;
height: 30px;
border-radius: 50px;
line-height: 29px;
color: #fff;
margin: auto;
}

.container.titleContainer{
background-color: white;
color: rgb(173, 173, 175);
width: 400px;
height: 40px;
}

.active{
	background: rgb(50,52,57) !important;
	padding: 0 !important;
}
.active .round {
width: 30px;
height: 30px;
border-radius: 50%;
line-height: 29px;
background: indianred;
color: #fff;
margin: auto;
margin-top: 3px;
}
.wrapper{
	margin: auto;
}
.active .elipce {
width: 50px;
height: 30px;
border-radius: 20px;
line-height: 29px;
background: indianred;
color: #fff;
margin: auto;
margin-top: 3px;
}
.active .elipce1 {
width: 40px;
height: 30px;
border-radius: 20px;
line-height: 29px;
background: rgb(232, 115, 111);
color: #fff;
margin: auto;
margin-top: 3px;
}
.months tr { height: 64.5px; }
.names{
background-color: rgb(90, 91, 95);
margin-left: -15px;
width: 400px;
}